@import '../Inter.sass'

.Article
    box-sizing: border-box

    display: flex
    flex-direction: column

    width: 16.6em

    margin: 0 1.4em

.Article-Preview
    box-sizing: border-box
    position: relative

    display: flex
    justify-content: center
    align-items: center

    width: 16.6em

    &_type_text
        font-style: italic
        padding: 1.4em

    &_side_light
        background: $cyan
        color: $black
    &_side_dark
        background: $pink
        color: $white
    &_side_neutrally
        background: $yellow
        color: $black

.Article-Image
    background: $white
    width: 100%
    height: 100%

    &_side_light
        background: $cyan
    &_side_dark
        background: $pink
    &_side_neutrally
        background: $yellow

.Article-Video
    width: 100%

.Article-Title
    font-size: 1.3em
    font-weight: bolder
    text-transform: uppercase

    margin: 1em 0 .5em

    &_side_light
        color: $cyan
    &_side_dark
        color: $pink
    &_side_neutrally
        color: $yellow

.Article-Description
    color: $white
    font-weight: bold
    line-height: 1.8
