@import '../Inter.sass'

.Article
    display: flex
    flex-direction: column

    width: 300px

    margin: 0 20px

.Article-Preview
    width: 300px
    height: 200px

    background: $white

.Article-Title
    font-size: 20px
    font-weight: bolder
    text-transform: uppercase

    margin: 20px 0 10px

    &_side_light
        color: $cyan
    &_side_dark
        color: $pink
    &_side_neutrally
        color: $yellow

.Article-Description
    color: $white
    font-weight: bold
    line-height: 1.8
