@import '../Inter.sass'

.Aritcles
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Aritcles-Content
    display: flex
    flex-direction: row
    justify-content: space-around
