@import '../Inter.sass'

.Pie
    display: flex
    justify-content: center
    align-items: center

    margin: 20px

.Pie-Ellipse
    padding: 20px
    border: 0.4px solid $cyan
    border-radius: 100%

.Pie-Ellipse_type_wrapper
    display: flex
    justify-content: center
    align-items: center

.Pie-Title
    position: absolute

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Pie-Value
    color: $pink

    font-size: 32px
    font-weight: bolder

.Pie-Description
    font-weight: bold
    text-transform: capitalize
