$black: #000000
$cyan: #05e7e6
$yellow: #fff831
$pink: #e53663
$white: #ffffff
$lightGray: #4c4c4c
$darkGray: #2e2e2e
$noColor: rgba(0, 0, 0, 0)

=animate($duration: .2s, $function: linear, $to: all)
    transition: $duration $function $to

=btn($base, $diff, $type: 'fill')
    @if $type == 'inset'
        color: $base
        box-shadow: inset 0 0 0 4px $base

        &:hover
            background: $base
            box-shadow: inset 0 0 0 0 transparent
            color: $diff
    @else
        background: $base
        color: $diff

        &:hover
            box-shadow: inset 0 0 0 4px $base

            color: $base
            background: $diff
