$black: #000000
$cyan: #05e7e6
$yellow: #fff831
$pink: #e53663
$white: #ffffff
$lightGray: #4c4c4c
$darkGray: #2e2e2e
$noColor: rgba(0, 0, 0, 0)

=animate($duration: .2s, $function: linear, $to: all)
    transition: $duration $function $to
