@import '../Inter.sass'

.Intro-Container
    position: absolute
    height: 100%

    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: center
    align-items: center


.Intro-Title
    color: $black

    text-shadow: 2px 2px 3px $yellow, 2px -2px 3px $yellow, -2px 2px 3px $yellow, -2px -2px 3px $yellow
    text-transform: uppercase
    text-align: center

    font-weight: bolder
    font-size: 6em

.Intro-Description
    color: $cyan
    font-size: 1.5em
    text-align: center
