@import '../Inter.sass'

.Comments
    height: 100vh

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Comments-Intro
    text-align: center

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    margin-bottom: 60px

.Comments-Title
    font-weight: bolder
    font-size: 24px

    color: $cyan

.Comments-Description
    font-weight: bold

.Comments-CommentsList
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

    width: 80%
