@import './components/Inter.sass'

::-webkit-scrollbar
    width: 1px
    height: 1px

    background: $black

::-webkit-scrollbar-thumb
    background: $cyan

.NoOverflow
    overflow: hidden

.App
    color: $white

    max-width: 100vw
    min-height: 100vh

    overflow-x: hidden

    background-color: #000000
    background-image: url(images/bg.png)

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Container
    border-box: box-sizing

    width: 80%
    margin: 0 auto

.Link
    color: $cyan

    text-decoration: none

.Link_decorated
    &:hover
        text-decoration: underline

.Btn
    +animate()

    border-radius: 40px
    cursor: pointer

    font-size: 26px
    font-weight: bold
    text-align: center

    width: 190px

    padding: 20px
    &_side_light
        +btn($cyan, $black, 'inset')
    &_side_dark
        +btn($pink, $white)
    &_side_neutrally
        +btn($yellow, $black, 'inset')
