@import '../Inter.sass'

.PaginatorItem
    cursor: pointer

    display: flex
    justify-content: center
    align-items: center

    border: 0.02em solid $black

    $size: 2.3em

    width: $size
    height: $size

    background: $darkGray
    color: $white

    &:hover
        background: $lightGray

.PaginatorItem_active
    border-color: $white

.Paginator-Item_first
    margin-right: 1em

.Paginator-Item_last
    margin-left: 1em
