@import '../Inter.sass'

.Additional
    text-align: center

    width: 100%

    padding: 1em 0

    font-weight: bold

    display: flex
    justify-content: center
    align-items: center

    border-size: .1em
    border-color: transparent

    &_side_dark
        +addity($pink, $white)
    &_side_light
        +addity(transparent, $cyan, 'bordered')
    &_side_neutrally
        +addity(transparent, $yellow, 'bordered')
